* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
    color: black;
}
header ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}
header li {
    display: inline-block;
}
body .Main {
    background-image: url("../images/lune.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-shadow: 2% 2% 6% black;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .Main .Bloc_main {
    padding: 5%;
    border-radius: 2%;
    color: white;
    background-color: rgba(255,255,255,0.5);
    width: 60%;
}
body .Main .Bloc_main .choix button {
    padding: 2% 4%;
    font-size: 120%;
    cursor: pointer;
    margin: 2%;
}
body .Main .Connexion {
    text-align: center;
}
body .Main .Inscription {
    text-align: center;
}
body .Main form h1 {
    padding-top: 4%;
    padding-bottom: 4%;
    color: whitesmoke;
    font-size: 180%;
    text-align: center;
}
body .Main .Bloc_main .Connexion div,
body .Main .Bloc_main .Inscription div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5%;
}
body .Main .Bloc_main .Inscription input,
body .Main .Bloc_main .Connexion input {
    width: 100%;
    padding: 2%;
    border-radius: 2%;
    border: none;
    font-size: 100%;
    border: 0.5% solid rgb(57, 54, 54);
}
body .Main .Bloc_main .Connexion input {
    height: 400%;
}
body .Main .Bloc_main button {
    padding: 2% 4%;
    border-radius: 2%;
    color: white;
    background-color: #444;
    border: none;
    cursor: pointer;
    font-size: 100%;
    transition: background-color 0.3s ease;
}
body .Main .Bloc_main .choix {
    background-color: #444;
    border-radius: 2%;
    margin-bottom: 6%;
    padding: 2%;
}
body .Main .Bloc_main .choix button {
    font-size: 150%;
}
body .Main .Bloc_main button:hover {
    background-color: black;
}

.caché {
    display: none;
}
.activé {
    color: white;
    font-weight: bold;
}
.desactivé {
    color: #ccc;
}
